<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gladoscheckin.csdnrefresh.mapper.CsdnDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.gladoscheckin.csdnrefresh.pojo.CsdnDetail">
        <id column="ID" property="id"/>
        <result column="PATH_URL" property="pathUrl"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID
        , PATH_URL
    </sql>

</mapper>
